.jumbotron {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ0LGPbnvwFQqAOmgGjIFifxUHJyzW6X7AyZw&usqp=CAU");
}

h1 {
    text-align: center;
    color: white;
    
}
h2{
    color:  white;
}
a {
    text-align: center;
    color: white;
    
}